body {
text-align: left;
background-color: #444444;
font: Arial, sans-serif;
}
.center {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}
#greet1 {
    background-color: #222222;
    border:  none;
    border-radius: 5px;
    color: white;
    font: 20px Arial, sans-serif;
    height: 50px;
    width: 100%;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
table, td {
  border: 1px solid black;
}
tr{height: 60px;}
#nic{
background-color: #91ffaf;
color: black;
}
#nic2{
color: white;
}