<!DOCTYPE html>
<html><head><link rel="stylesheet" href="static/mystyle.css">
<meta charset="8859">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Ovladač</title>
</head><style></style><body><table>
<tr><td id= 'nic'>NOVA 17:30 18:25 Na lovu</td></tr>
<tr><td id= 'nic2'>NOVA 18:25 19:30 Ulice (4264)</td></tr>
<tr><td id= 'nic2'>NOVA 19:30 20:20 Televizní noviny</td></tr>
<tr><td id= 'nic'>NOVA CINEMA 15:30 17:45 Zamilovaný Shakespeare</td></tr>
<tr><td id= 'nic2'>NOVA CINEMA 17:45 20:00 Nejtemnější hodina</td></tr>
<tr><td id= 'nic'>PRIMA ZOOM 17:25 17:50 Bizarní jídla: Místa k nakousnutí VIII (12)</td></tr>
<tr><td id= 'nic2'>PRIMA ZOOM 17:50 19:00 Podmořské království (2) -ST</td></tr>
<tr><td id= 'nic2'>PRIMA ZOOM 19:00 20:00 Vodní obři VI (1) -ST</td></tr>
<tr><td id= 'nic'>PRIMA COOL 17:15 17:45 Futurama II (14) -ST</td></tr>
<tr><td id= 'nic2'>PRIMA COOL 17:45 18:15 Futurama II (15) -ST</td></tr>
<tr><td id= 'nic2'>PRIMA COOL 18:15 18:45 Simpsonovi XXIV (5) -ST</td></tr>
<tr><td id= 'nic2'>PRIMA COOL 18:45 19:15 Simpsonovi XXIV (6) -ST</td></tr>
<tr><td id= 'nic2'>PRIMA COOL 19:15 19:45 Simpsonovi XXIV (7) -ST</td></tr>
<tr><td id= 'nic2'>PRIMA COOL 19:45 20:15 Simpsonovi XXIV (8) -ST</td></tr>
<tr><td id= 'nic'>PRIMA 16:50 17:50 Policie v akci -ST</td></tr>
<tr><td id= 'nic2'>PRIMA 17:50 18:52 Prostřeno!</td></tr>
<tr><td id= 'nic2'>PRIMA 18:52 18:55 Počasí</td></tr>
<tr><td id= 'nic2'>PRIMA 18:55 19:40 HLAVNÍ ZPRÁVY</td></tr>
<tr><td id= 'nic2'>PRIMA 19:40 19:55 Krimi zprávy</td></tr>
<tr><td id= 'nic2'>PRIMA 19:55 20:15 SHOWTIME</td></tr>
<tr><td id= 'nic'>PRIMA MAX 14:50 17:55 Chaplin</td></tr>
<tr><td id= 'nic2'>PRIMA MAX 17:55 20:00 Tajemství za slovy</td></tr>
<tr><td id= 'nic'>NOVA FUN 17:10 18:10 Přátelé IX (21,22)</td></tr>
<tr><td id= 'nic2'>NOVA FUN 18:10 19:00 Dva a půl chlapa III (17,18)</td></tr>
<tr><td id= 'nic2'>NOVA FUN 19:00 20:00 Krok za krokem III (11,12)</td></tr>
<tr><td id= 'nic'>ČT2 17:27 18:20 Nádherná Amerika: Zázraky přírody</td></tr>
<tr><td id= 'nic2'>ČT2 18:20 19:12 Kapverdy, duhová země</td></tr>
<tr><td id= 'nic2'>ČT2 19:12 19:40 Auto moto svět</td></tr>
<tr><td id= 'nic2'>ČT2 19:40 19:50 Postřehy odjinud, Kolumbie očima Vladimíra Kroce</td></tr>
<tr><td id= 'nic2'>ČT2 19:50 20:00 Zprávy v českém znakovém jazyce</td></tr>
<tr><td id= 'nic'>ČT1 17:15 17:42 AZ-kvíz</td></tr>
<tr><td id= 'nic2'>ČT1 17:42 18:00 Černé ovce</td></tr>
<tr><td id= 'nic2'>ČT1 18:00 18:25 Události v regionech</td></tr>
<tr><td id= 'nic2'>ČT1 18:25 18:55 Kde domov můj?</td></tr>
<tr><td id= 'nic2'>ČT1 18:55 19:00 Události za okamžik a počasí</td></tr>
<tr><td id= 'nic2'>ČT1 19:00 19:56 Události</td></tr>
<tr><td id= 'nic2'>ČT1 19:56 20:10 Branky, body, vteřiny</td></tr>
</table>
<a href="http://10.0.0.200:5000">
    <input type="button" value="Zpět" id = "greet1" />
</a>
</body>
</html>
