{% extends "layout.html" %}}
{% block body %}
<h1>TV EPG</h1>
<table>
<tr><td id= 'nic'>NOVA 19:30 20:20 Televizní noviny<a href='http://10.0.0.200:5000/Nova'><input type='submit' value='>' id= 'nic'></a></td></tr>
<tr><td id= 'nic2'>NOVA 20:20 22:55 Survivor Česko & Slovensko (32)</td></tr>
<tr><td id= 'nic'>NOVA CINEMA 20:00 21:35 Psí kusy<a href='http://10.0.0.200:5000/Nova_Cinema'><input type='submit' value='>' id= 'nic'></a></td></tr>
<tr><td id= 'nic'>PRIMA ZOOM 20:00 21:05 Velryby na lovu<a href='http://10.0.0.200:5000/Prima_ZOOM'><input type='submit' value='>' id= 'nic'></a></td></tr>
<tr><td id= 'nic2'>PRIMA ZOOM 21:05 22:05 Mega akvárium (5)</td></tr>
<tr><td id= 'nic2'>PRIMA ZOOM 22:05 23:10 Vetřelci dávnověku XII (28)</td></tr>
<tr><td id= 'nic'>PRIMA COOL 20:15 22:30 Jump street 21<a href='http://10.0.0.200:5000/Prima_COOL'><input type='submit' value='>' id= 'nic'></a></td></tr>
<tr><td id= 'nic'>PRIMA 20:15 22:00 Máme rádi Česko<a href='http://10.0.0.200:5000/Prima'><input type='submit' value='>' id= 'nic'></a></td></tr>
<tr><td id= 'nic2'>PRIMA 22:00 23:15 Tátové na tahu (9) -ST -AD</td></tr>
<tr><td id= 'nic'>PRIMA MAX 20:00 22:30 Ženy v pokušení<a href='http://10.0.0.200:5000/Prima_MAX'><input type='submit' value='>' id= 'nic'></a></td></tr>
<tr><td id= 'nic'>NOVA FUN 20:00 21:40 Teorie velkého třesku VI (9-12)<a href='http://10.0.0.200:5000/Nova_Fun'><input type='submit' value='>' id= 'nic'></a></td></tr>
<tr><td id= 'nic2'>NOVA FUN 21:40 22:30 Přátelé IX (23,24)</td></tr>
<tr><td id= 'nic2'>NOVA FUN 22:30 23:20 Dva a půl chlapa III (19,20)</td></tr>
<tr><td id= 'nic'>ČT2 20:00 21:55 Velká vlaková loupež, Great Train Robbery, The<a href='http://10.0.0.200:5000/CT_2_HD_T2'><input type='submit' value='>' id= 'nic'></a></td></tr>
<tr><td id= 'nic2'>ČT2 21:55 23:55 Piano, Piano, The</td></tr>
<tr><td id= 'nic'>ČT1 20:10 21:10 Poldové a nemluvně, Miláček<a href='http://10.0.0.200:5000/CT_1_HD_T2'><input type='submit' value='>' id= 'nic'></a></td></tr>
<tr><td id= 'nic2'>ČT1 21:10 22:05 Všechnopárty</td></tr>
<tr><td id= 'nic2'>ČT1 22:05 22:55 Profesionálové, Tajemný hlas, Professionals, The</td></tr>
<tr><td id= 'nic2'>ČT1 22:55 22:56 Výsledky losování Šťastných 10</td></tr>
<tr><td id= 'nic2'>ČT1 22:58 23:00 Výsledky losování Šťastných 10</td></tr>
</table>
<a href="http://10.0.0.200:5000">
    <input type="button" value="Zpět" id = "greet1" />
</a>
{% endblock %}
