<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO8859-2">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ovladač</title>
</head>
<style>
h1   {color: white;
    font: 45px Times;
    font-weight: bold;
}

body {
text-align: center;
background-color: #444444;
font: Arial, sans-serif;
}
.center {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}
#greet1 {
    background-color: #222222;
    border:  none;
    border-radius: 5px;
    color: white;
    font: 20px Arial, sans-serif;
    height: 50px;
    width: 100%;
}
#off {
    background-color: Red;
    border:  none;
    border-radius: 5px;
    color: black;
    font: 20px Arial, sans-serif;
    height: 50px;
    width: 100%;
}
#ma {
    background-color: #222222;
    border:  none;
    border-radius: 5px;
    color: white;
    font: 20px Arial, sans-serif;
    height: 50px;
    width: 100%;
}
#vel {
    background-color: #222222;
    border:  none;
    border-radius: 5px;
    color: white;
    font: 20px Arial, sans-serif;
    height: 50px;
    width: 100%;
}
#vel1 {
    background-color: yellow;
    border:  none;
    border-radius: 5px;
    color: black;
    font: 20px Arial, sans-serif;
    height: 50px;
    width: 100%;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}
tr{height: 60px;}
#toggle {
  display: none;
}

/**
  Hamburger
**/
.hamburger {
  position: absolute;
  top: 5em;
  right: 5%;
  margin-left: -2em;
  margin-top: -45px;
  width: 2em;
  height: 45px;
  z-index: 5;
}

.hamburger div {
  position: relative;
  width: 3em;
  height: 7px;
  border-radius: 3px;
  background-color: white;
  margin-top: 8px;
  transition: all 0.3s ease-in-out;
}

/**
Nav Styles
**/
.nav {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #444444;
  top: -100%; left: 0; right: 0; bottom: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
}
.nav-wrapper {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  height: 100%;

}
nav {
  text-align: left;

}
nav a {
  position: relative;
  
  text-decoration: none;
  color: #6ecddd;
  font-size: 2em;
  display: inline-block;
  margin-top: 1.25em;
  transition: color 0.2s ease-in-out;
  letter-spacing: 1px;
}
nav a:before {
  content: '';
  height: 0;
  
  position: absolute;
  background-color: white;
  transition: all 0.2s ease-in-out;
}


/**
Animations
**/
#toggle:checked + .hamburger .top-bun {
  transform: rotate(-45deg);
  margin-top: 25px;
}
#toggle:checked + .hamburger .bottom-bun {
  opacity: 0;
  transform: rotate(45deg);
}
#toggle:checked + .hamburger .meat {
  transform: rotate(45deg);
  margin-top: -7px;
}

#toggle:checked + .hamburger + .nav {
  top: 0;
  transform: scale(1);
}
    </style>
<body>
    <h1>Ovladač</h1>

    <input id="toggle" type="checkbox"></input>

    <label for="toggle" class="hamburger">
      <div class="top-bun"></div>
      <div class="meat"></div>
      <div class="bottom-bun"></div>
    </label>
    
    <div class="nav">
        <h1>Všechny</h1><br>
      <div class="nav-wrapper">
        <nav>
        

            <tr>
                <td colspan='3'>
                    <form action='NOVA' method='post'>
                        <input type='submit' value='NOVA' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='Prima_love' method='post'>
                        <input type='submit' value='Prima_love' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='Prima_+1' method='post'>
                        <input type='submit' value='Prima_+1' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='Radio_Cas' method='post'>
                        <input type='submit' value='Radio_Cas' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='1+1' method='post'>
                        <input type='submit' value='1+1' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='BARRANDOV_KRIMI' method='post'>
                        <input type='submit' value='BARRANDOV_KRIMI' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='Retro_Music_TV' method='post'>
                        <input type='submit' value='Retro_Music_TV' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='Prima_SHOW' method='post'>
                        <input type='submit' value='Prima_SHOW' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='CRo_RZ_SPORT_T2' method='post'>
                        <input type='submit' value='CRo_RZ_SPORT_T2' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='Seznam.cz_TV' method='post'>
                        <input type='submit' value='Seznam.cz_TV' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='RELAX' method='post'>
                        <input type='submit' value='RELAX' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='CS_Mystery' method='post'>
                        <input type='submit' value='CS_Mystery' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='Nova' method='post'>
                        <input type='submit' value='Nova' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='Nova_Cinema' method='post'>
                        <input type='submit' value='Nova_Cinema' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='Prima_ZOOM' method='post'>
                        <input type='submit' value='Prima_ZOOM' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='Cesky_Impuls' method='post'>
                        <input type='submit' value='Cesky_Impuls' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='Radio_Dechovka' method='post'>
                        <input type='submit' value='Radio_Dechovka' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='Prima_COOL' method='post'>
                        <input type='submit' value='Prima_COOL' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='Radio_Impuls' method='post'>
                        <input type='submit' value='Radio_Impuls' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='CRo_VLTAVA_T2' method='post'>
                        <input type='submit' value='CRo_VLTAVA_T2' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='SPORT_5' method='post'>
                        <input type='submit' value='SPORT_5' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='Prima' method='post'>
                        <input type='submit' value='Prima' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='Slager_original' method='post'>
                        <input type='submit' value='Slager_original' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='CRo_PLUS_T2' method='post'>
                        <input type='submit' value='CRo_PLUS_T2' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='rtm_plus_Liberecko' method='post'>
                        <input type='submit' value='rtm_plus_Liberecko' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='Ocko_STAR' method='post'>
                        <input type='submit' value='Ocko_STAR' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='Nova_Action' method='post'>
                        <input type='submit' value='Nova_Action' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='Prima_STAR' method='post'>
                        <input type='submit' value='Prima_STAR' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='KINO_BARRANDOV' method='post'>
                        <input type='submit' value='KINO_BARRANDOV' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='Paramount_Network' method='post'>
                        <input type='submit' value='Paramount_Network' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='CT_3_HD_T2' method='post'>
                        <input type='submit' value='CT_3_HD_T2' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='Prima_MAX' method='post'>
                        <input type='submit' value='Prima_MAX' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='Radio_Dalnice' method='post'>
                        <input type='submit' value='Radio_Dalnice' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='CRo_JAZZ_T2' method='post'>
                        <input type='submit' value='CRo_JAZZ_T2' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='CRo_RADIOZURNAL_T2' method='post'>
                        <input type='submit' value='CRo_RADIOZURNAL_T2' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='JOJ_Family' method='post'>
                        <input type='submit' value='JOJ_Family' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='Tv_NOE' method='post'>
                        <input type='submit' value='Tv_NOE' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='Nova_Gold' method='post'>
                        <input type='submit' value='Nova_Gold' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='CT_24_HD_T2' method='post'>
                        <input type='submit' value='CT_24_HD_T2' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='Televize_pres_antenu' method='post'>
                        <input type='submit' value='Televize_pres_antenu' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='CRo_D-DUR_T2' method='post'>
                        <input type='submit' value='CRo_D-DUR_T2' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='CT_1_SM_HD_T2' method='post'>
                        <input type='submit' value='CT_1_SM_HD_T2' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='CRo_DVOJKA_T2' method='post'>
                        <input type='submit' value='CRo_DVOJKA_T2' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='CT_:D/art_HD_T2' method='post'>
                        <input type='submit' value='CT_:D/art_HD_T2' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='TV_Barrandov' method='post'>
                        <input type='submit' value='TV_Barrandov' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='Radio_Cas_Rock' method='post'>
                        <input type='submit' value='Radio_Cas_Rock' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='CRo_RADIO_JUNIOR_T2' method='post'>
                        <input type='submit' value='CRo_RADIO_JUNIOR_T2' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='Naladte_se_na_digitalni_vysilani_CRA' method='post'>
                        <input type='submit' value='Naladte_se_na_digitalni_vysilani_CRA' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='CT_1_JM_HD_T2' method='post'>
                        <input type='submit' value='CT_1_JM_HD_T2' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='Nova_Fun' method='post'>
                        <input type='submit' value='Nova_Fun' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='CRo_RADIO_WAVE_T2' method='post'>
                        <input type='submit' value='CRo_RADIO_WAVE_T2' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='CNN_Prima_News' method='post'>
                        <input type='submit' value='CNN_Prima_News' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='CRo_POHODA_T2' method='post'>
                        <input type='submit' value='CRo_POHODA_T2' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='RADIO_PROGLAS' method='post'>
                        <input type='submit' value='RADIO_PROGLAS' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='REBEL' method='post'>
                        <input type='submit' value='REBEL' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='Prima_KRIMI' method='post'>
                        <input type='submit' value='Prima_KRIMI' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='CT_sport_HD_T2' method='post'>
                        <input type='submit' value='CT_sport_HD_T2' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='Nova_Lady' method='post'>
                        <input type='submit' value='Nova_Lady' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='CT_2_HD_T2' method='post'>
                        <input type='submit' value='CT_2_HD_T2' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='Ocko' method='post'>
                        <input type='submit' value='Ocko' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='CT_1_HD_T2' method='post'>
                        <input type='submit' value='CT_1_HD_T2' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='ABC_TV' method='post'>
                        <input type='submit' value='ABC_TV' id='greet1'>
                    </form>
                </td>
            </tr><br> 
            <tr>
                <td colspan='3'>
                    <form action='UKRAJINSKE_RADIO' method='post'>
                        <input type='submit' value='UKRAJINSKE_RADIO' id='greet1'>
                    </form>
                </td>
            </tr><br> 
        
        
        
        
        
        
        
        </nav>
      </div>
    </div>





<table class="center"  style ="width:100%">
    <tr>
        <td>
            <form action="off" method="post">
                <input type="submit" value="OFF" id="off">
            </form>
        </td>
        <td>
            <form action="vyp" method="post">
                <input type="submit" value="vyp" id="ma">
            </form>
        </td>       
        <td>
            <form action="ne" method="post">
                <input type="submit" value="ne" id="ma">
            </form>
        </td>          
    </tr>
    <tr>
        <td>
            <form action="up" method="post">
                <input type="submit" value="UP" id="ma">
            </form>
        </td>
        <td colspan="2"> 
            <form action="full" method="post">
                <input type="submit" value="FULL" id="vel">
            </form>
        </td>               
    </tr>
        <td>
            <form action="down" method="post">
                <input type="submit" value="DO" id="ma">
            </form>
        </td>
        <td colspan="2"> 
            <form action="program" method="post">
                <input type="submit" value="PROG" id="vel1">
            </form>
        </td>               
    </tr>  
    <tr style="height:20px">
        <td colspan="3" >

        </td>  
    </tr>      
    <tr>
        <td colspan='3'>
            <form action='CT_1_HD_T2' method='post'>
                <input type='submit' value='ČT 1' id='greet1'>
            </form>
        </td>
    </tr>
        <td colspan='3'>
            <form action='CT_2_HD_T2' method='post'>
                <input type='submit' value='ČT 2' id='greet1'>
            </form>
        </td>
    </tr>
    <tr>
        <td colspan='3'>
            <form action='NOVA' method='post'>
                <input type='submit' value='NOVA' id='greet1'>
            </form>
        </td>
    </tr>
    <tr>
        <td colspan='3'>
            <form action='Nova_Cinema' method='post'>
                <input type='submit' value='Nova Cinema' id='greet1'>
            </form>
        </td>
    </tr>
    <tr>
        <td colspan='3'>
            <form action='Nova_Fun' method='post'>
                <input type='submit' value='Nova Fun' id='greet1'>
            </form>
        </td>
    </tr>
    <tr>
        <td colspan='3'>
            <form action='Prima' method='post'>
                <input type='submit' value='Prima' id='greet1'>
            </form>
        </td>
    </tr>
    <tr>
        <td colspan='3'>
            <form action='Prima_COOL' method='post'>
                <input type='submit' value='Prima COOL' id='greet1'>
            </form>
        </td>
    </tr>
    <tr>
        <td colspan='3'>
            <form action='Prima_ZOOM' method='post'>
                <input type='submit' value='Prima ZOOM' id='greet1'>
            </form>
        </td>
    </tr>
    <tr>
        <td colspan='3'>
            <form action='Prima_MAX' method='post'>
                <input type='submit' value='Prima MAX' id='greet1'>
            </form>
        </td>
    </tr>


  
</table>




</body>

</html>